@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh; 
}

/* Stil für den Home-Button */
.ol-control.home-button button {
  width: 50px;
  height: 50px;
  font-size: 12px;
}

/* Stil für die Zoom-Buttons */
.ol-control.zoom ol-zoom-in, .ol-control.zoom ol-zoom-out {
  width: 50px;
  height: 50px;
  font-size: 12px;
}
